* {
  box-sizing: border-box;
  font-family: 'Lobster', cursive; }

#clock-container {
  height: 600px;
  width: 700px;
  background-color: black;
  text-align: center;
  color: white;
}

#clock {
  display: inline-block;
  font-size: 60px;
  color: white;
  margin-top: 200px;
}

#clock-container2 {
  height: 600px;
  width: 700px;
  text-align: center;
  color: white;
}

#clock2 {
  display: inline-block;
  font-size: 60px;
  color: white;
  margin-top: 200px;
}
