* {
  box-sizing: border-box;
  font-family: 'Lobster', cursive; }

#clock-container {
  height: 460px;
  width: 700px;
  background-color: black;
  text-align: center;
  color: white; }

#clock {
  display: inline-block;
  font-size: 40px;
  color: white;
  margin-top: 200px; }
